.about-paragraph {
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  display: block;
  letter-spacing: 0.04rem;
  line-height: 1.75rem;
  color: #2e2e2e;
  text-align: justify;
  text-justify: inter-word;
}

.aboutMe {
  margin: 5rem 0rem 3rem 10rem;
}

.contact-div {
    margin-left: 4rem;
}