
.frontend-skills-box {
    margin: 50px;
}

.backend-skills {
  width: 50%;
}

.front-end {
  background-image: url("../../images/cool-background.png");
  height: 60vh;
}

.frontend-skills {
  width: 50%;
  margin: 50px;
}
